      @define-color foreground rgba(248, 248, 242, 1);
@define-color background rgba(40, 42, 54, 1);
@define-color background transparent;


* {
    font-size: 13px;
    font-weight: bold;
    font-family: JetBrains Mono Nerd Font;
    color: @color1;
}

window#waybar {
    all: unset;
    background-color: rgba(2,2,2,0);
    color: @color1;
}

/* window#waybar { */
/*     all: unset; */
/*     background-color: rgba(2,2,2,0); */
/*     color: @color1; */
/*     height: 20px;            */
    /* transition: all 0.4s ease-in-out; */
/* } */
/**/
window#waybar:hover {
    opacity: 1;         
    background-color: rgba(0,0,0,0.2); 
}


.modules-left,
.modules-center,
.modules-right {
    margin-top: -3px;
    margin-bottom: 0px;
    border: 2px ridge rgba(255,255,255,0.1);
    border-radius: 80px;
    background-color: rgba(0,0,0,0.2);
}
.modules-center {
    min-width: 150.5px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 15px 15px;
}

.modules-left {
    border-radius: 0px 0px 15px 0px;
    padding: 2px 5px 0px 5px; 
    margin-left: -5px;
}

.modules-right {
  border-radius: 0px 0px 0px 15px;
  margin-right: -5px;
  padding: 5px 5px 2px 20px;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
  padding: 0px 0px 0px 0px;
  font-size: 16;
}



tooltip {
    color: @color7;
    background-color: @color1;
}

#clock:hover,
#bluetooth:hover,
#network:hover {
    transition: all 0.3s ease;
    color: @color7;
}

#workspaces {
    padding: 7px 5px;
}

#workspaces button {
    all: unset;
    margin: 0px 6px;
    padding: 0px 4px;
    background: @color7;
    border-radius: 50%;
    transition: all 0.3s;
    min-width: 12px;
}

#workspaces button:hover {
    background: @color1;
}

#workspaces button.active {
    border: none;
    border-radius: 10px;
    background: @color1;
    min-width: 15px;
}

#workspaces button:hover label,
#workspaces button.active label {
    color: @color7;
}

#group-expand {
    padding: 0px 5px;
    transition: all 1s ease;
}

#battery {
    color: @color7;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#clock {
    min-width: 150px;
}

#battery:hover {
    color: @color7;
}

#custom-expand {
    padding: 0px 0px;
    color: @color7;
    transition: all 1s ease;
}

#custom-expand:hover {
    color: @color7;
}

#bluetooth,
#network,
#clock {
    color: @color7;
    transition: all 0.3s ease;
}
