@import url("file:///home/dk/.config/current/wal-colors.css");
@import url("file:///home/dk/.config/walker/themes/transparent-system.css");

child:selected,
child:hover {
  background: alpha(@border, 0.32);
}

#text {
  font-weight: 600;
}

