@import url("file:///home/dk/.config/current/wal-colors.css");

#window,
#box,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#icon,
#text,
#label,
#sub,
#activationlabel {
  all: unset;
}

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

#window {
  background: transparent;
  color: @text;
}

#box {
  background: alpha(@background, 0.97);
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 8px 12px alpha(black, 0.28);
}

#search {
  background: alpha(@foreground, 0.09);
  padding: 13px 15px;
  margin-bottom: 12px;
  border-radius: 16px;
}

#prompt {
  color: @selected-text;
  margin-right: 10px;
}

#clear {
  color: @text;
  opacity: 0.78;
}

#input {
  color: @text;
  caret-color: @selected-text;
}

#input placeholder {
  color: @text;
  opacity: 0.78;
}

#typeahead {
  color: @text;
  opacity: 0.58;
}

#list {
  background: transparent;
}

child {
  padding: 9px 11px;
  margin: 2px 0;
  background: transparent;
  border-radius: 14px;
}

child:selected,
child:hover {
  background: alpha(@selected-text, 0.18);
}

#item {
  padding: 0;
}

#icon {
  margin-right: 12px;
  -gtk-icon-transform: scale(0.92);
}

#text {
  color: @text;
  padding: 4px 0;
}

#label {
  color: @text;
  font-weight: 600;
}

#sub {
  color: @text;
  font-size: 11px;
  opacity: 0.74;
}

child:selected #label,
child:selected #text,
child:hover #label,
child:hover #text {
  color: @selected-text;
}

#activationlabel {
  color: @text;
  font-size: 11px;
  opacity: 0.66;
}

scrollbar {
  margin-left: 6px;
}

scrollbar slider {
  min-width: 3px;
  background: alpha(@selected-text, 0.55);
  border-radius: 999px;
}

#spinner {
  color: @selected-text;
}

#aiScroll,
#aiList,
.aiItem,
#bar,
.barentry {
  opacity: 0;
}
